 <div class="doc-wrapper bg-color2">
  <h1>
    Nos produits de saison
  </h1>
  <div class="subline">
    <div class="subline-border">
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <div class="container">

    <!-- /.card -->
    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo1.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">Orange</h2>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">Oranges</div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo2.jpg' %>);">
          <div class="details">
            <h2 class="pantone-tm">PANTONE</h2>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE</div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo3.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">PANTONE</h2>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE</div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo4.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">PANTONE</h2>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE</div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo5.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">PANTONE</h2>
            <p class="year">2017</p>
            <p class="color-info">15-0343</p>
            <p class="color-info">Greenery</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">PANTONE</div>
          <p class="color-info">15-0343</p>
          <p class="color-info">Greenery</p>
          <ul>
            <li>CMYK<span>53 13 92 1</span></li>
            <li>RGB<span>136 176 75</span></li>
            <li>HEX<span>#88b04b</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>
  </div>
</div>
