 <div class="doc-wrapper bg-color2">
  <h1>
    Nos produits de saison
  </h1>
  <div class="subline">
    <div class="subline-border">
      <div class="diamond"></div>
      <div class="diamond"></div>
    </div>
  </div>
  <div class="container">

    <!-- /.card -->
    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo1.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">Orange</h2>
            <p class="price">5<sup>,90€</sup></p>
            <p class="color-info">Alice</p>
            <p class="color-info">Arcachon</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">Oranges</div>
          <p class="color-info">Alice</p>
          <p class="color-info">Arcachon</p>
          <ul>
            <li>Poids<span>5kg</span></li>
            <li>Prix/kg<span>1<sup>,90€</sup></li>
            <li>Livraison<span>48h</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo2.jpg' %>);">
          <div class="details">
            <h2 class="pantone-tm">Carottes</h2>
            <p class="price">5<sup>,90€</sup></p>
            <p class="color-info">Bob</p>
            <p class="color-info">Bordeaux</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">Carottes</div>
          <p class="color-info">Bob</p>
          <p class="color-info">Bordeaux</p>
          <ul>
            <li>Poids<span>5kg</span></li>
            <li>Prix/kg<span>1<sup>,90€</sup></li>
            <li>Livraison<span>48h</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo3.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">Viandes</h2>
            <p class="price">5<sup>,90€</sup></p>
            <p class="color-info">Charly</p>
            <p class="color-info">Limoges</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">Viandes</div>
          <p class="color-info">Charly</p>
          <p class="color-info">Limoges</p>
          <ul>
            <li>Poids<span>5kg</span></li>
            <li>Prix/kg<span>1<sup>,90€</sup></li>
            <li>Livraison<span>48h</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'hinano.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">Hinano</h2>
            <p class="price">5<sup>,90€</sup></p>
            <p class="color-info">Jonathan</p>
            <p class="color-info">Tahiti</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">Hinano</div>
          <p class="color-info">Jonathan</p>
          <p class="color-info">Tahiti</p>
          <ul>
            <li>Poids<span>5kg</span></li>
            <li>Prix/kg<span>1<sup>,90€</sup></li>
            <li>Livraison<span>48h</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>

    <div class="card">
      <div class="inner">
        <div class="front" style="background-image: url(<%= image_path 'jo5.png' %>);">
          <div class="details">
            <h2 class="pantone-tm">Confiture</h2>
            <p class="price">5<sup>,90€</sup></p>
            <p class="color-info">Elodie</p>
            <p class="color-info">Floirac</p>
          </div>
          <!-- /.front -->
        </div>
        <div class="back">
          <div class="pantone-tm">Confiture</div>
          <p class="color-info">Elodie</p>
          <p class="color-info">Floirac</p>
          <ul>
            <li>Poids<span>5kg</span></li>
            <li>Prix/kg<span>1<sup>,90€</sup></li>
            <li>Livraison<span>48h</span></li>
          </ul>
        </div>
        <!-- /.back -->
      </div>
    <!-- /.inner -->
    </div>
  </div>
</div>
